[project]
	description = librarian management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/khin channy (johnnymuch)
[access "refs/for/refs/*"]
	read = group user/khin channy (johnnymuch)
	push = group user/khin channy (johnnymuch)
	label-Code-Review = -2..+2 group user/khin channy (johnnymuch)
	label-Verified = -1..+1 group user/khin channy (johnnymuch)
	rebase = group user/khin channy (johnnymuch)
	removeReviewer = group user/khin channy (johnnymuch)
	submit = group user/khin channy (johnnymuch)
[access "refs/heads/*"]
	read = group user/khin channy (johnnymuch)
	create = group user/khin channy (johnnymuch)
	push = +force group user/khin channy (johnnymuch)
	pushMerge = group user/khin channy (johnnymuch)
[access "refs/tags/*"]
	push = +force group user/khin channy (johnnymuch)
	pushTag = group user/khin channy (johnnymuch)
	pushSignedTag = group user/khin channy (johnnymuch)
